// body {
//     background: black;
// }

// .grid-area {
//     display: grid;
//     grid-template-columns: repeat(9, min-max(100px,1000px));
//     grid-template-rows: repeat(10, min-max(100px,1000px));
//     grid-template-areas:
//       "1  1  2  2  2  3  3  3  3  4"
//       "5  6  6  6  6  7  7  7  7  4"
//       "5  6  6  6  6  7  7  7  7  4"
//       "8  6  6  6  6  9  9  10 11 4"
//       "8  6  6  6  6  9  9  10 11 4"
//       "8  12 12 13 13 14 14 14 14 4"
//       "15 12 12 16 16 17 17 17 17 18"
//       "15 19 19 20 20 17 17 17 17 18"
//       "15 19 19 21 21 21 21 21 21 18"
// }

// .grid-module {
    
// }

// .one {
//     background: $red;
//     grid-area: 1;
// }

body {
    background: $black;
    background-blend-mode: multiply;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
  }

.grid__card {
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

  .one {
    grid-row: 1 / 2;
    grid-column: 1 / span 2;
    background-image: $white;
  }
  
  .two {
    grid-row: 1 / 2;
    grid-column: 3 / span 3;
    background-image: $white;
  }
  
  .three {
    grid-row: 1 / 2;
    grid-column: 6 / span 4;
    background-image: $yellow;
  }

  .four {
    grid-row: 1 / span 6;
    grid-column: 10 / span 1;
    background-image: $white;
  }

  .five {
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
    background-image: $white;
  }

  .six {
    grid-row: 2 / span 4;
    grid-column: 2 / span 4;
    background-image: $red;
  }

  .seven {
    grid-row: 2 / span 2;
    grid-column: 6 / span 4;
    background-image: $yellow;
  }

  .eight {
    grid-row: 4 / span 3;
    grid-column: 1 / span 1;
    background-image: $white;
  }

  .nine {
    grid-row: 4 / span 2;
    grid-column: 6 / span 2;
    background-image: $white;
  }

  .ten {
    grid-row: 4 / span 2;
    grid-column: 8 / span 2;
    background-image: $white;
  }

  .eleven {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2;
    background-image: $black2;
  }

  .twelve {
    grid-row: 6 / span 1;
    grid-column: 4 / span 2;
    background-image: $white;
  }

  .thirteen {
    grid-row: 7 / span 1;
    grid-column: 4 / span 2;
    background-image: $white;
  }

  .fourteen {
    grid-row: 6 / span 1;
    grid-column: 6 / span 4;
    background-image: $white;
  }

  .fifteen {
    grid-row: 7 / span 3;
    grid-column: 1 / span 1;
    background-image: $yellow;
  }

  .sixteen {
    grid-row: 8 / span 2;
    grid-column: 2 / span 2;
    background-image: $white;
  }

  .seventeen {
    grid-row: 8 / span 1;
    grid-column: 4 / span 2;
    background-image: $black2;
  }

  .eighteen {
    grid-row: 7 / span 2;
    grid-column: 6 / span 4;
    background: $blue;
  }

  .nineteen {
    grid-row: 7 / span 3;
    grid-column: 10 / span 1;
    background-image: $red;
  }

  .twenty {
    grid-row: 9 / span 1;
    grid-column: 4 / span 6;
    background-image: $white;
  }
  
  .grid > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }