body {
    background: $black;
    background-blend-mode: multiply;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
}

.grid > div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.grid__card {
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.grid__card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: end;
  border-right: 1px solid;
  border-color: $black2;
  width: 330px;
  margin: 20px;
  padding-right: 5px;
}

.grid__card__info > * {
  margin: 0;
  padding: 0;
}

.one {
  grid-row: 1 / 2;
  grid-column: 1 / span 2;
  background-image: $white;
}

.two {
  grid-row: 1 / 2;
  grid-column: 3 / span 3;
  background-image: $white;
}

.three {
  grid-row: 1 / 2;
  grid-column: 6 / span 4;
  background-image: $yellow;
}

.four {
  grid-row: 1 / span 6;
  grid-column: 10 / span 1;
  background-image: $white;
}

.five {
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;
  background-image: $white;
}

.six {
  grid-row: 2 / span 4;
  grid-column: 2 / span 4;
  background-image: $red;
  min-width: 340px;
  min-height: 340px;
}

.seven {
  grid-row: 2 / span 2;
  grid-column: 6 / span 4;
  background-image: $yellow;
}

.eight {
  grid-row: 4 / span 3;
  grid-column: 1 / span 1;
  background-image: $white;
}

.nine {
  grid-row: 4 / span 2;
  grid-column: 6 / span 2;
  background-image: $white;
}

.ten {
  grid-row: 4 / span 2;
  grid-column: 8 / span 2;
  background-image: $white;
}

.eleven {
  grid-row: 6 / span 2;
  grid-column: 2 / span 2;
  background-image: $black2;
}

.twelve {
  grid-row: 6 / span 1;
  grid-column: 4 / span 2;
  background-image: $white;
}

.thirteen {
  grid-row: 7 / span 1;
  grid-column: 4 / span 2;
  background-image: $white;
}

.fourteen {
  grid-row: 6 / span 1;
  grid-column: 6 / span 4;
  background-image: $white;
}

.fifteen {
  grid-row: 7 / span 3;
  grid-column: 1 / span 1;
  background-image: $yellow;
}

.sixteen {
  grid-row: 8 / span 2;
  grid-column: 2 / span 2;
  background-image: $white;
}

.seventeen {
  grid-row: 8 / span 1;
  grid-column: 4 / span 2;
  background-image: $black2;
}

.eighteen {
  grid-row: 7 / span 2;
  grid-column: 6 / span 4;
  background: $blue;
}

.nineteen {
  grid-row: 7 / span 3;
  grid-column: 10 / span 1;
  background-image: $red;
}

.twenty {
  grid-row: 9 / span 1;
  grid-column: 4 / span 6;
  background-image: $white;
}