// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// White color
/// @type Color
$white: linear-gradient(to bottom, #fbfbfb 0%, #eaeaea 100%) !default;

/// Black color
/// @type Color
$black: linear-gradient(to bottom, #0d0d0d 0%, #1e1e1e 100%) !default;

/// Black 2 color
/// @type Color
$black2: linear-gradient(to bottom, #161616 0%, #272727 100%) !default;

/// Main brand color
/// @type Color
$yellow: linear-gradient(to bottom, #ffda37 0%, #ffd415 100%) !default;

/// Red color
/// @type Color
$red: linear-gradient(to bottom, #ff4e37 0%, #ff3015 100%) !default;

/// Blue color
/// @type Color
$blue: linear-gradient(to bottom, #447feb 0%, #256ae8 100%) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
